<app-button
(click)="initFormCreate(createCard)">
  <ng-container>
    <span>{{optionsButton.btnCreate}}</span>
  </ng-container>
</app-button>
<ng-template #createCard>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{optionsModal.titleCreate}}</h4>
    <button type="button"
    class="close btn-close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="form">
      <app-form [formCard]="form"
      [actionCreateCard]="actions.actionCreate"
      (formCreateCard)="formCreateCard($event)">
      </app-form>
    </ng-container>
  </div>
</ng-template>
<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    @for (item of cardsInformation; track $index) {
      <div class="col-md-3">
        <app-card [linkImg]="item.img!" [altName]="item.name!" [name]="item.name!">
          <ng-container buttons>
            <app-button
              (click)="initFormUpdate(item.id, updateCard)">
              <ng-container>
                <span>{{optionsButton.btnUpdate}}</span>
              </ng-container>
            </app-button>
            <ng-template #updateCard>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleUpdate}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ng-container *ngIf="form">
                  <app-form [formCard]="form" [actionUpdateCard]="actions.actionUpdate"
                    (formUpdateCard)="formUpdateCard($event)">
                  </app-form>
                </ng-container>
              </div>
            </ng-template>
            <app-button
              (click)="cardModalDetail(detailCard, item.id)">
              <ng-container>
                <span>{{optionsButton.btnDetail}}</span>
              </ng-container>
            </app-button>
            <ng-template #detailCard>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleDetail}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ng-container>
                  <p>NAME: {{cardInformation.name}}</p>
                  <p>AUTOR: {{cardInformation.autor}}</p>
                  <p>LAUNCH: {{cardInformation.launch}}</p>
                  <p>GENDER: {{cardInformation.gender}}</p>
                </ng-container>
              </div>
            </ng-template>
            <app-button
              (click)="deleteModalCard(deleteCard)">
              <ng-container>
                <span>{{optionsButton.btnDelete}}</span>
              </ng-container>
            </app-button>
            <ng-template #deleteCard>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleDelete}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{optionsModal.questionDelete}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  (click)="modalRef?.hide()">{{optionsModal.buttonCancelDelete}}
                </button>
                <button type="button" class="btn btn-secondary"
                  (click)="onConfirmDelete(item.id)">{{optionsModal.buttonConfirmDelete}}
                </button>
              </div>
            </ng-template>
          </ng-container>
        </app-card>
      </div>
      }
  </div>
</div>

