<app-button
[tooltip]="tooltip.buttonCreate"
appStyleButton styleButton="buttonCreate"
(click)="initFormCreate(formCreate)">
  <ng-container>
    <app-icon appStyleIcon [classIcon]="icon.plus" styleIcon="iconCreate"></app-icon>
  </ng-container>
</app-button>
<ng-template #formCreate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{optionsModal.titleCreate}}</h4>
    <button type="button"
    class="close btn-close pull-right"
    aria-label="Close"
    (click)="modalRef!.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="form">
      <app-form [formCard]="form"
      [actionCreateCard]="actions.actionCreate"
      (formCreateCard)="createCard($event)">
      </app-form>
    </ng-container>
  </div>
</ng-template>
<div class="container py-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    @for (item of cardsInformation; track $index) {
    <div class="col-md-3">
      <app-card [linkImg]="item.img!" [altName]="item.name!" [name]="item.name!">
      <ng-container buttons>
            <app-button
              appStyleButton styleButton="buttonUpdate"
              (click)="initFormUpdate(item.id, formUpdate)">
              <ng-container>
                <app-icon appStyleIcon [classIcon]="icon.pencil" styleIcon="iconUpdate"></app-icon>
              </ng-container>
            </app-button>
            <ng-template #formUpdate>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleUpdate}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef!.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ng-container *ngIf="form">
                  <app-form [formCard]="form" [actionUpdateCard]="actions.actionUpdate"
                    (formUpdateCard)="updateCard($event)">
                  </app-form>
                </ng-container>
              </div>
            </ng-template>
            <app-button
              appStyleButton styleButton="buttonDetail"
              (click)="detailCard(item.id, card)">
              <ng-container>
                <app-icon appStyleIcon [classIcon]="icon.eye" styleIcon="iconDetail"></app-icon>
              </ng-container>
            </app-button>
            <ng-template #card>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleDetail}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef!.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ng-container>
                  <p>NAME: {{cardInformation?.name}}</p>
                  <p>AUTOR: {{cardInformation?.autor}}</p>
                  <p>LAUNCH: {{cardInformation?.launch}}</p>
                  <p>GENDER: {{cardInformation?.gender}}</p>
                </ng-container>
              </div>
            </ng-template>
            <app-button
              appStyleButton styleButton="buttonDelete"
              (click)="deleteCard(card)">
              <ng-container>
                <app-icon appStyleIcon [classIcon]="icon.trash" styleIcon="iconDelete"></app-icon>
              </ng-container>
            </app-button>
            <ng-template #card>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{optionsModal.titleDelete}}</h4>
                <button type="button"
                class="close btn-close pull-right"
                aria-label="Close"
                (click)="modalRef!.hide()">
                  <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{optionsModal.questionDelete}}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  (click)="modalRef!.hide()">{{optionsModal.buttonCancelDelete}}
                </button>
                <button type="button" class="btn btn-secondary"
                  (click)="onConfirmDelete(item.id)">{{optionsModal.buttonConfirmDelete}}
                </button>
              </div>
            </ng-template>
      </ng-container>
      </app-card>
    </div>
    }
  </div>
</div>
