@import '../variables/variables';
@import '../mixins/buttons.scss';

app-button {
  &.buttonCreate {
    button {
      @include buttonsCard;
      background-color: $primary;
    }
  }

  &.buttonUpdate {
    button {
      @include buttonsCard;
      background-color: $warning;
    }
  }

  &.buttonDetail {
    button {
      @include buttonsCard;
      background-color: $success;
    }
  }

  &.buttonDelete {
    button {
      @include buttonsCard;
      background-color: $danger;
    }
  }
}
