@import '../variables/variables';

app-icon {
  &.iconCreate {
    i {
      color: $light;
    }
  }

  &.iconUpdate {
    i {
      color: $light;
    }
  }

  &.iconDetail {
    i {
      color: $light;
    }
  }

  &.iconDetail {
    i {
      color: $light;
    }
  }
}

