<section class="auth-form mt-3">
  <div class="text-center">
    <h3 class="h3">{{textForm.formSignIn}}</h3>
  </div>
  <form>
    <div class="mb-3">
      <input type="email" placeholder="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">{{textForm.buttonSignIn}}</button>
      <div class="text-center mt-5">
        <a [routerLink]="['/sign-up']" class="text-black">{{textForm.createAccount}}</a>
      </div>
    </div>

  </form>


</section>
